.paralax-welcome{
    background-image: url("../images/home-welcome.jpg");
    height:100%;
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

#welcome-jumbotron{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

#container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.7),rgba(0,0,0,0.7));
}

#intro{
    width:100%;
    background: black;
    color:white;
    border-radius: 0 0 20px 20px;
    text-align: justify;
    padding: 100px;
    border-bottom: 10px solid rgb(233, 174, 96);
}

.card{
    width:400px;
    box-shadow: 0 15px 20px 17px rgba(0, 0, 0, 0.2), 0 14px 30px 17px rgba(0, 0, 0, 0.19);
    border-radius: 15px 15px 15px 15px;
    margin: 50px;
    text-align: center;
    padding :20px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: box-shadow 0.3s, background-color 0.5s;
    background: white;
    border-top: 10px solid rgb(233, 162, 70);
    border-bottom: 10px solid grey;


}

#container a{
    text-decoration: none;
    color: inherit;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(245, 243, 243, 0.6);
}