body,html{
    height: 100%;
    max-width: 100%;
}

body{
    background: url("../images/woodback.jpg");
}

article{
    margin: 100px auto;
    width: 900px;
    border-radius: 15px;
    box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;   
    background: white; 
}


