.content-intro{
    margin-top: 20px;
}

.subcategory-header{
    width: 100%;
    display: block;
    background: black;  
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.catalog-container{
    width: 100%;
    padding: 0 50px;
}
.catalog-item{
    height: auto !important;
    padding: 10px;
}

.item-id{
    background: yellow;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.item-desc{
    margin: 10px;
    padding: 10px 0px;;
    font-size: 12px;
}


.card-img-top {
    margin-bottom: 10px;
    height: 250px;
    width: 250px;
    /*border: 2px solid black;*/
}

.item-body{
    padding:none;
    height: 100%;
}

.card{
    padding:none;
    background: white;
    width: 250px;
    height: 100%;
    border: none;
    margin: 0 auto;
}

.subcategory{
    border-radius: 5px;
    background: #FAFAFA;
    border: 2px solid grey;
}

.cut-2-3{
    padding: 20px;
}

.cut-2-3 .subcategory{
    height: 500px;
}

.cut-2-3 .subcategory .catalog-item{
    margin: 5px auto;
}

@media screen and (max-width: 400px){
    .catalog-container{
        padding: none !important;
        margin : none!important;
        box-shadow: 0 0 12px #00000077 inset;
    }

    .subcategory{
        padding: none !important;
        margin : none !important;
        box-shadow: none;
    }

    .cut-2-3{
        padding: none !important;
    }
}

.property{
    position: relative;
    width: 100%;
    display: grid;
    grid: 
        'desc prop prop prop';
    margin: 5px 0;
}

.property .descprop{
    grid-area: desc;
    display: block;
    font-weight: bold;
    width: 100px;
}

.property .desc{    
    color: #524f4f;
    display: block;
    grid-area: prop;
    text-align: left;
    padding-left: 5px;
    width: 135px;
}

.left-align{
    text-align: left !important;
}

@media screen and (min-width: 2000px){
    .catalog-container{
        width:2000px;
        margin: 0 auto;
    }
}