.content-intro{
    margin-top: 20px;
}

.subcategory-header{
    width: 100%;
    display: block;
    background: black;  
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.catalog-container{
    width: 100%;
    padding: 0 50px
}
.catalog-item{
    position: relative;
    height: auto !important;
    padding: 10px;
    justify-content: center;
}

.item-id{
    background: yellow;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.item-desc{
    margin: 10px;
    padding: 10px;
}


.card-img-top {
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    align-self: center;
}

.item-body{
    position: relative;
    padding:none;

    height: 100%;
}

.card{
    padding:none;
    background: none;
    width: 200px;
    height: 100%;
    margin: 0 auto;
    border: none;
}

.subcategory{
    padding: 15px;
    box-shadow: 0 0 12px #00000077 inset;
    justify-content: lefy;
}